#Global section
pixels=256

ether=192.168.3.12
netmask=255.255.255.0
gateway=192.168.2.1
#announcetarget=192.168.3.11
#announce_from=192.186.3.12

group=2
controller=45
onewire=2

#Strips section
strip1=ws2811
order1=rbg
flag1=1

strip2=ws2811
order2=rbg
flag2=1

strip3=ws2811
order3=rbg
flag3=1

strip4=ws2811
order4=rbg
flag4=1

strip5=ws2811
order5=rbg
flag5=1

strip6=ws2811
order6=rbg
flag6=1

strip7=ws2811
order7=rbg
flag7=1

strip8=ws2811
order8=rbg
flag8=1
